.boton-clear {
    align-items     : center;
    background-color: aqua;
    border          : solid 2px white;
    border-radius   : 50px;
    color           : white;
    cursor          : pointer;
    display         : flex;
    flex            : 1 1;
    font-size       : 30px;
    font-weight     : bold;
    height          : 70px;
    justify-content : center;
}

.boton-clear:hover {
    background-color: #1e00ff;
}