button {
    color        : white;
    cursor       : pointer;
    border       : 2px solid white;
    border-radius: 15px;
    font-family  : 'Roboto', sans-serif;
    font-size    : 20px;
    font-weight  : bold;
    height       : 80px;
    margin       : 5px;
    width        : 250px;
}

button:hover{
    background-color: #c0e909;
}

.botonClic{
    background-color: #002ead;
}

.botonReset{
    background-color: #a70178;
}